
<div class="cards mt-5">
  <div class="card-category" id="card-mulheres">
    Mulheres Progressistas
  </div>

  <div class="card-category" id="card-juventude">
    Juventude Progressista
  </div>


  <div class="card-category" id="card-filie-se">
  </div>
  
</div>

<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
      <%= simple_form_for(@membro) do |f| %>
        <%= f.input :nome, label: "Nome Completo" %>
        <%= f.input :cidade %>
        <%= f.input :email, label: "E-mail" %>
        <%= f.input :whatsapp, label: "Número do Whatsapp" %>
        <%= f.input :celular, label: "Telefone Celular" %>
        <%= f.input :foneresidencial, label: "Telefone Residencial" %>
        <%= f.input :fonecomercial, label: "Telefone Comercial" %>
        <%= f.input :CPF, label: "CPF" %>
        <%= f.input :RG, label: "RG" %>
        <%= f.input :orgaoexpeditor, label: "Órgão Expeditor" %>
        <%= f.input :nascimento, label: "Data de Nascimento" %>
        <%= f.input :CEP, label: "CEP" %>
        <%= f.input :endereco, label: "Endereço - Rua" %>
        <%= f.input :endereconumero, label: "Endereço - Número" %>
        <%= f.input :bairro %>
        <%= f.input :UF, label: "UF" %>
        <%= f.input :sexo %>
        <%= f.input :naturalidade %>
        <%= f.input :nomedamae, label: "Nome da Mãe" %>
        <%= f.input :estadocivil, label: "Estado Civil" %>
        <%= f.input :profissao, label: "Profissão" %>
        <%= f.input :tituloeleitor, label: "Número do Título de Eleitor" %>
        <%= f.input :zona %>
        <%= f.input :secao, label: "Seção" %>
        <%= f.input :datafiliacao, label: "Data do Pedido de Filiação" %>
        <%= f.button :submit,"Enviar Formulário de Filiação", class: 'btn-primary' %>
      <% end %>
  </div>
</div>

<div class="card-mensagem m-5">
  <div class="img"><%= image_tag 'presidente.png'%></div>
  <div class="card-mensagem-infos">
    <h2>Mensagem do Presidente - Progressista/CE</h2>
    <h3> Mensagem aqui <strong>info relevante</strong> </p>
    <p> Conheça mais sobre nosso <strong>partido</strong> e sobre nosso <strong>diretório estadual</strong></p>
  </div>
</div>

<div id="map"
  style="width: 100%; height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>