
<%= render 'sidenav' %>
<div id="page"> <div class="conteudo-sec"> <div style="position: relative;">Junte-se ao Progressistas!</div></div>
<%= render 'navbar' %>
<%= render 'banner' %>
<%= render 'cards' %>
<%= render 'map' %>
<%= render 'modal_lista'%>
<%= render 'footer' %>
</div>